* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

  background: linear-gradient(
    to bottom right,
    #020617,
    #0f172a,
    #1e1b4b
  );

  min-height: 100vh;

  color: white;
}